# virtual environment
.coins_env/

# terraform
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/.keys

# airflow
airflow/logs/*
airflow/dags/__pycache__/*
airflow/.env