# virtual environment
.coins_env/

# terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.keys
terraform/terraform*

# airflow
airflow/logs/
airflow/plugins/
airflow/dags/__pycache__/
airflow/.env